<h1>All Bands</h1>

#if($deletedBand)
  <p>$deletedBand.getName() has been deleted</p>
#end

<dl>
#foreach($band in $bands)
<dt><a href="/bands/$band.getId()">$band.getName()</a></dt>
<dd>Plays $band.getMusic()</dd>
#end
</dl>
